.row {
    padding: 20px;
}

div {
    background-color: #171f13;
    color: whitesmoke;
}

h1,
h3 {
    display: inline;
}

h3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}

#title {
    margin-top: -25px;
    font-weight: bold;
    color: #257725;

    box-shadow: 2px 2px 10px rgb(10, 8, 8);
    text-shadow: 3px 3px 5px rgb(10, 8, 8);
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    box-shadow: 2px 2px 10px rgb(10, 8, 8);
    border-radius: 5px;
    list-style-type: none;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

h1 {
    text-shadow: 3px 3px 5px rgb(10, 8, 8);
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    padding-left: 1%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.submit-form {
    max-width: 400px;
    margin: auto;
}