<div class="row">
    <h1 id="title">Educación</h1>
    <button *ngIf="esEditable" class="btn btn-success" (click)="create()">Nuevo</button>
    <div class="col-lg-12 container">
        <ul>
            <li *ngFor="let estudio of estudios">
                <h1>{{estudio.course}}</h1>
                <p>Cursado en {{estudio.place}}. Tipo: {{estudio.kindStudy}}. Estado: {{estudio.stateStudy}}</p>
                <button *ngIf="esEditable" class="btn btn-danger" (click)="delete(estudio.id)">Eliminar</button>
            </li>
        </ul>
    </div>
</div>