.row {
    width: auto;
    background-color: #171f13;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    height: 70px;
}

.menu ul li {
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
}

.logo {
    margin-right: 77%;
}

.login {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: 65px;
    border-color: #257725;
    background-color: transparent;
    color: #257725;
    font-weight: 600;
}

.login:hover {
    transform: scale(0.98);
}